<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="Webchat" connectionString="Server=497ba948-7b56-439e-aa8c-a28c00a7e9ce.sqlserver.sequelizer.com;Database=db497ba9487b56439eaa8ca28c00a7e9ce;User ID=hcwledkvffccnbzy;Password=v6KosXN6Sf7BfxLnM2X5mo4aaaGP8CV6bHsjujaBy6Qfi6TXHZANoaThbKnrq87o;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>